<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rainbow Montana</title>
</head>
<body>
<main>
  <h1>Register</h1>
  <div>
    <div>
      <form   th:action="@{/register}"
              th:method="POST"
              th:object="${userRegisterBindingModel}">

        <div>
          <div>
            <label th:for="firstName">First name</label>
          </div>

          <div th:if="${hasRegistrationError}" >Registration Error occurred</div>

          <div>
            <input type="text" th:field="*{firstName}" id="firstName">
            <small th:if="${#fields.hasErrors('firstName')}"
                    th:errors="*{firstName}" >First name error msg</small>
          </div>
        </div>

        <div>
          <div>
            <label th:for="lastName">Last name</label>
          </div>
          <div>
            <input type="text" id="lastName" th:field="*{lastName}">
            <small th:if="${#fields.hasErrors('lastName')}"
                   th:errors="*{lastName}" >Last name error msg</small>
          </div>
        </div>

        <div>
          <div>
            <label th:for="email">Email</label>
          </div>
          <div>
            <input th:type="email" th:id="email" th:field="*{email}">
            <small th:if="${#fields.hasErrors('email')}"
                   th:errors="*{email}" >Email error msg</small>
          </div>
        </div>

        <div>
          <div>
            <label th:for="password">Password</label>
          </div>
          <div>
            <input th:type="password" th:id="password" th:field="*{password}">
            <small th:if="${#fields.hasErrors('password')}"
                   th:errors="*{password}" >Password error msg</small>
          </div>
        </div>

        <div>
          <div>
            <label th:for="confirmPassword">Confirm password</label>
          </div>
          <div>
            <input th:type="password" th:id="confirmPassword" th:field="*{confirmPassword}">
          </div>
        </div>

        <div>
          <div>
            <label th:for="gsm">GSM</label>
          </div>
          <div>
            <input th:type="text" th:id="gsm" th:field="*{gsm}">
            <small th:if="${#fields.hasErrors('gsm')}"
                   th:errors="*{gsm}" >GSM error msg</small>
          </div>
        </div>

        <div>
          <button type="submit">Register</button>
        </div>

      </form>
    </div>
  </div>
</main>
</body>
</html>